<%= form_with(model: visit, local: true) do |form| %>
<%= errors_for(@visit) %>

<%= content_tag "div", id: "hours", data: {hours: @doctor.worktimes} do %><% end %>

<%= form.label :visit_date %>
<div class="form-group">
  <input type='text' class="form-control" id='visit_date_time_picker' name='visit[visit_date]'/><br/>
</div>
<%= hidden_field_tag 'doctor_id', params[:doctor_id] %>
<div class="actions">
  <%= form.submit "Zapisz się na wizytę", class: 'btn btn-primary'%>
</div>
<% end %>
