<%= form_with(model: visit, local: true) do |form| %>
  <%= errors_for(@visit) %>

  <div class="form-group">
    <%= form.label :visit_date %>
    <div class='input-group date' id='datetimepicker1'>
      <input type='text' class="form-control" name='visit[visit_date]'/>
      <span class="input-group-addon">
        <span class="glyphicon glyphicon-calendar"></span>
      </span>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :patient_id %>
    <%= form.text_field :patient_id, id: :visit_patient_id, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :doctor_id %>
    <%= form.text_field :doctor_id, id: :visit_doctor_id, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit "Zapisz się na wizytę", class: 'btn btn-primary'%>
  </div>
<% end %>
