<!DOCTYPE html>
<html>
<head>
  <title> Przychodni@ </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>
  <%= render "layouts/header" %>
  <main class="container">
    <% flash.each do |key, value| %>
    <div class="<%= flash_class(key) %>">
      <a href="#" data-dismiss="alert" class="close">×</a>
      <ul>
        <%= value %>
      </ul>
    </div>
    <% end %>
    <%= yield %>
  </main>
</body>
</html>
